sample
  h3 { message }
  div
    button(onclick='{player1_win}' value="true") player1
    button(onclick='{player1_win}' value="false") player2
  ul
    li(each='{game_result in game_results}') {game_result.player1} : {game_result.player2}

  script(type="text/livescript" src="sample.ls")

  style.
    :scope { front-size: 2rem }
    h3 { color: #444 }
    ul { color: #999 }
